.page {
  width: 600px;
  margin: 0 auto;
}



.synopsis {
  color: #7E8184;        /* Light gray */
  font-style: italic;
}



/* Descebant selectors */
.synopsis em {
  font-style: normal;
}

/* Try to avoid this */
.article h2 .subheading em {
  /* Special styles */
}



.button:link,
.button:visited {
  display: block;            
  text-decoration: none;      

  /* The rest of lesson ''more useful divs */
  color: #FFF;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}

/*	
 This is a second overried style of button for 'Button Two'.
 Be sure the write this after .button { ... }
*/
.call-to-action:link,
.call-to-action:visited {
  font-style: italic;
  background-color: #EEB75A;    /* Yellow */
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #F5CF8E;     /* Light yellow */
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #EEB75A;     /* Yellow */
}



/* Link pseudo-classes */
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  /* Add !important will also fix the cause of overried a:visited:hover */
  color: red !important;
}

/* Visited hover state */
a:visited:hover {
  color: orange;
}

/* This will fix a:active will be red */
/*a:visited:active {
  color: red;
}*/


