.page {
  width: 600px;
  margin: 0 auto;
}

.synopsis {
  color: #7E8184;        /* Light gray */
  font-style: italic;
}

/* Descebant selectors */
.synopsis em {
  font-style: normal;
}

/* Try to avoid this */
.article h2 .subheading em {
  /* Special styles */
}

.button {
  color: #FFF;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

/*	
 This is a second overried style of button for 'Button Two'.
 Be sure the write this after .button { ... }
*/
.call-to-action {
  font-style: italic;
  background-color: #EEB75A;    /* Yellow */
}


